@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.PhotoView-Portal {
  z-index: 999999999 !important;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  --primary: 221.2 83.2% 53.3%;
}

/* Color Palettes */
@layer base {
  :root {
    --text-dark: 0 6% 10%;
  }
}

.AsyncImage-root {
  position: static !important;
}

/* Themes */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-hover: 221 59% 59%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-hover: 221 59% 59%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }
}

::selection {
  @apply bg-primary;
  color: white;
}

::-moz-selection {
  @apply bg-primary;
  color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000000e;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888;
  transition: 0.3s;
}

.scrollable-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollable-vertical {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-vertical-textfield {
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-gradient {
  position: relative;
}

.scroll-gradient::before,
.scroll-gradient::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 0.5rem; /* adjust the height based on your preference */
  pointer-events: none; /* prevent the gradient from interfering with scrolling */
  z-index: 10;
}

.scroll-gradient::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), transparent);
}

.scroll-gradient::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), transparent);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

div[data-radix-popper-content-wrapper] {
  z-index: 40000000000 !important;
}
