stages:
  - lint
  - test
  - build
  - deploy

lint-check-frontend:
  stage: lint
  image: node:20.1-alpine
  script:
    - echo "Lint check frontend"
    - cd mitu-frontend
    - npm install
    - npm run lint
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

unit-test-front:
  stage: test
  image: node:20.1-alpine
  script:
    - echo "Unit test front"
    - cd mitu-frontend
    - npm install
    - npm run test
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

lint-check-backend:
  stage: lint
  image: node:20
  script:
    - echo "Lint check backend"
    - cd mitu-backend
    - npm install
    - npm run lint
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

unit-test-backend:
  stage: test
  image: node:20
  script:
    - echo "Unit backend"
    - cd mitu-backend
    - npm install
    - npm run test
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

lint-check-cron:
  stage: lint
  image: maven:3.8.3-amazoncorretto-17
  script:
    - echo "Lint check backend"
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

unit-test-cron:
  stage: test
  image: maven:3.8.3-amazoncorretto-17
  script:
    - echo "Unit cron"
    - cd mitu-cron
    - mvn test -Dspring.profiles.active=unit_test
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

build-frontend:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login $CI_REGISTRY -u $CI_DEPLOY_USER -p $CI_DEPLOY_PASSWORD
  script:
    - echo "Building frontend Docker Image"
    - mv $DOTENV_PROD .env.prod 
    - docker build -t registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_frontend:latest -f frontend.Dockerfile .
    - docker push registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_frontend:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"'
  
build-backend:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login $CI_REGISTRY -u $CI_DEPLOY_USER -p $CI_DEPLOY_PASSWORD
  script:
    - echo "Building backend Docker Image"
    - mv $DOTENV_PROD .env.prod 
    - docker build -t registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_backend:latest -f backend.Dockerfile .
    - docker push registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_backend:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"'

build-cron:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login $CI_REGISTRY -u $CI_DEPLOY_USER -p $CI_DEPLOY_PASSWORD
  script:
    - echo "Building cron Docker Image"
    - docker build -t registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_cron:latest -f cron.Dockerfile .
    - docker push registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_cron:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"'

deploy-azure:
  stage: deploy
  script:
    - echo "Load test backend"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
