version: "3.8"
services:
  mitu_postgres:
    container_name: mitu_postgres
    image: postgres:latest
    restart: always
    volumes:
      - mitu_postgres:/var/lib/postgresql/data
      - mitu_postgres_logs:/var/log/postgresql
    ports:
      - "5432:5432"
    env_file:
      - .env.prod
  mitu_backend:
    image: registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_backend:latest_${DOCKER_CITY}
    container_name: mitu_backend
    volumes:
      - mitu_backend_uploads:/uploads
    ports:
      - "3000:3000"
    working_dir: /app
    depends_on:
      - mitu_postgres
    env_file:
      - .env.prod
  mitu_frontend:
    image: registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_frontend:latest_${DOCKER_CITY}
    container_name: mitu_frontend
    ports:
      - "8080:80"
    working_dir: /app
    depends_on:
      - mitu_backend
    env_file:
      - .env.prod
  mitu_prerender:
    image: registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_prerender:latest_${DOCKER_CITY}
    container_name: mitu_prerender
    working_dir: /home/node
    depends_on:
      - mitu_frontend
  mitu_cron:
    image: registry.gitlab.com/mieszamtu/mieszkamtuzpi/mitu_cron:latest_${DOCKER_CITY}
    container_name: mitu_cron
    depends_on:
      - mitu_postgres
    env_file:
      - .env.prod
  mitu_smtp4dev:
    container_name: mitu_smtp4dev
    image: rnwood/smtp4dev
    restart: always
    ports:
      - "4000:80"
      - "25:25"
  mitu_redis:
    container_name: mitu_redis
    image: redis:latest
    volumes:
      - mitu_redis:/data
    ports:
      - "6379:6379"
    env_file:
      - .env.prod
volumes:
  mitu_postgres:
  mitu_redis:
  mitu_postgres_logs:
  mitu_backend_uploads: