version: '3.8'
services:
  imb_postgres:
    container_name: imb_postgres
    image: postgres:10.3
    restart: always
    volumes:
      - imb_postgres:/var/lib/postgresql/data
    ports:
        - '5432:5432'
    env_file:
      - .env
  imb_backend:
    image: citified/imb:imb_backend
    container_name: imb_backend
    environment:
      - CRON_JOBS=false
    command:
      - /bin/sh
      - -c
      - |
        npm run start:prod
    ports:
      - '3000:3000'
    working_dir: /app
    depends_on:
      - imb_postgres
      - imb_redis
    env_file:
      - .env
  imb_frontend:
    image: citified/imb:imb_frontend
    container_name: imb_frontend
    ports:
      - '80:80'
    working_dir: /app
    depends_on:
      - imb_backend
    env_file:
      - .env
  imb_smtp4dev:
    container_name: imb_smtp4dev
    image: rnwood/smtp4dev
    restart: always
    ports:
      - '4000:80'
      - '25:25'
volumes:
  imb_postgres:
  imb_redis: