version: '3.8'
services:
  mitu_postgres:
    container_name: mitu_postgres
    image: postgres:10.3
    restart: always
    volumes:
      - mitu_postgres:/var/lib/postgresql/data
    ports:
        - '5432:5432'
    env_file:
      - .env
  mitu_backend:
    image: mieszkamtu/mitu:mitu_backend
    container_name: mitu_backend
    environment:
      - CRON_JOBS=false
    command:
      - /bin/sh
      - -c
      - |
        npm run start:prod
    ports:
      - '3000:3000'
    working_dir: /app
    depends_on:
      - mitu_postgres
    env_file:
      - .env
  mitu_frontend:
    image: mieszkamtu/mitu:mitu_frontend
    container_name: mitu_frontend
    ports:
      - '80:80'
    working_dir: /app
    depends_on:
      - mitu_backend
    env_file:
      - .env
  mitu_cron:
    image: mieszkamtu/mitu:mitu_cron
    container_name: mitu_cron
    environment:
      - CRON_JOBS=true
    depends_on:
      - mitu_postgres
    env_file:
      - .env
  mitu_smtp4dev:
    container_name: mitu_smtp4dev
    image: rnwood/smtp4dev
    restart: always
    ports:
      - '4000:80'
      - '25:25'
volumes:
  mitu_postgres: