.di {
    position: absolute;
    left: -19.5px;
    top: -50px;
    border-radius: 50%;
    border: 4px solid;
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

  }
  
  .di::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -28px;
    left: 6.75px;
    border: 10px solid transparent;
    border-top: 17px solid;
    z-index: 1000;
  }

  .di-shadow{

    position: absolute; width: 34px; height: 16px; border-radius: 50%; background-color: rgba(0,0,0,0.3);filter: blur(3px);
    top: 40px;
    z-index: 999 !important;
  }

  .di-blank{
    position: absolute;
    left: 2.5px;


  }