
#mail-editor h1.ce-header {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.67em 0;
}

#mail-editor h2 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.83em 0;
}

#mail-editor h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0;
}

#mail-editor h4 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.33em 0;
}

#mail-editor h5 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 1.67em 0;
}

#mail-editor h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 1.67em 0;
}
