spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mitu_dev
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      naming:
        physical-strategy: com.mitu.config.QuotedPhysicalNamingStrategy
    properties:
      hibernate:
        format_sql: true

    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
