<html lang='pl'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>MieszkamTu - potwierdzenie rejestracji</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body style='font-family: Montserrat, sans-serif'>
    <div style='background-color: white; color: black;'>

      <h1 style='text-align:center'>MieszkamTu</h1>
      <p>Witaj {{firstName}} {{lastName}}!</p>
      <p>Aby zresetować hasło w naszej witrynie, kliknij w poniższy link</p>
      <div style='text-align: center;'>

        <a style='' href='{{url}}'>Zmień hasło</a>
      </div>
      <p>Jeśli nie chcesz zresetować swojego hasła, zignoruj tę wiadomość.</p>
      <p>Pozdrawiamy,<br />zespół MieszkamTu</p>
    </div>
    <img
      src='cid:mitu-logo'
      alt='Logo MieszkamTu'
      style='display: block; margin-left: auto; margin-right: auto; width: 50%;
    height: auto;'
    />

  </body>
</html>